<table>
    {{#each listaEquipos}}
        <tr>
            <td>{{this.posicion}}</td>
            <td><img src= "{{this.escudo}}">{{this.nombre}}</td>
            <td>{{this.partidosJugados}}</td>
            <td>{{this.partidosGanados}}</td>
            <td>{{this.partidosPerdidos}}</td>
            <td>{{this.partidosPerdidos}}</td>
            <td>{{this.goles}}</td>
            <td>{{this.golesContra}}</td>
            <td>{{this.diferenciaPuntos}}</td>
            <td>{{this.puntos}}</td>
        </tr>
    {{/each}}
</table>